<!-- Header del sitio -->
<header>
    <div class="top-header">
        <!-- Menu Comprimido -->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <!-- Barra Busqueda -->
        <div class="form">
            <input type="text" placeholder="Buscar...">
        </div>
        <!-- Logo -->
        <div class="logo-header">
            <a href="/">
                <img src="\images\Aries_sin_fondo_0001.png" alt="Logo de Aries">
            </a>
        </div>
        <!-- Account -->
        <div class="account">
            <div class="account-item">
                <a href="/login">
                    <i class="fas fa-user"></i>
                    <p>Login</p>
                </a>
            </div>
            <div class="account-item">
                <a href="/shopping-cart">
                    <i class="fas fa-shopping-cart"></i>
                    <p>Carro</p>
                </a>
            </div>
            <div class="account-item">
                <a href="">
                    <i class="far fa-heart"></i>
                    <p>Favoritos</p>
                </a>
            </div>
        </div>
    </div>
    <!-- Barra de navegacion -->
    <nav class="nav-bar">
        <ul>
            <li><a href="#hombre">Hombre</a></li>
            <li><a href="#mujer">Mujer</a></li>
            <li><a href="#ninos">Ninos</a></li>
            <li><a href="#accesorios">Accesorios</a></li>
            <li><a href="#">Sobre Nosotros</a></li>
        </ul>
    </nav>
</header>