<!-- Head -->
<%- include('./partials/head')  %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/49624a08d2.js" crossorigin="anonymous"></script>
    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <!--ROBOTO-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" href="regstyles">

    <!-- Link para css propio -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/administrador.css">

    <title>Aries</title>
</head>
<body>
    <!-- Inicio de Cabecera del Sitio -->
<%- include('./partials/header') %>
        <main>
            <h1>ACCESO A ADMINISTRADOR</h1>
            <h3>AGREGAR ARTICULOS</h3>
            <!-- Formulario  -->
     <div class="registro">
        <form class="campo">
            
            <p><label>Nombre del producto</label></p> <input type="text" name="prod" size="12px">
            <p><label>Categoria</label></p> <input type="text" name="cat" size="12px">
            <p><label>Descripcion</label></p> <input type="text" name="desc" size="12px">
            <div class="listacolor">
                <p>COLORES DISPONIBLES</p>
                <select name="color" id="seleccionar_color">
                        <option value="negro">Negro</option>
                        <option value="azul">Azul</option>
                        <option value="blanco">Blanco</option>
                </select>
            </div>

            <div class= "listatalle">
                <p>TALLE DISPONIBLES</p>
                <select name="color" id="seleccionar_color">
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                </select>
            </div>
            <p><label>Descripcion</label></p> <input type="text" name="desc" size="12px">
            
        </form>
    </div>

    <div class="register-but">
        <input type="submit" class= "submit" value="Agregar al listado">
        <input type="reset" class= "reset" value="Cancelar">
    </div>
</main>
<!-- Footer del Sitio -->
<%- include('./partials/footer') %> 
    
</body>
</html>