<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet" />

    <!-- Link para css propio -->
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/detalle-producto.css">

    <title>Detalle del producto</title>

    <script src="https://kit.fontawesome.com/49624a08d2.js" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/49624a08d2.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!--CONECTO CON FONTAWSOME-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
        <!--ROBOTO-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" href="regstyles">
         <!--NORMALIZE: unifica estilos en distintas pantallas--> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel=" stylesheet" href="css/normalize.css">
        <link rel=" stylesheet" href="css/regstyles.css">
        <link rel=" stylesheet" href="css/styles.css">
        <link rel=" stylesheet" href="css/footer.css">

</head>

<body>
<!-- Inicio de Cabecera del Sitio -->
    <header>
        <div class="top-header">
            <!-- Menu Comprimido -->
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <!-- Barra Busqueda -->
            <div class="form">
                <input type="text" placeholder="Buscar...">
            </div>
            <!-- Logo -->
            <div class="logo-header">
                <img src="\images\Aries_sin_fondo_0001.png" alt="Logo de Aries">
            </div>
            <!-- Account -->
            <div class="account">
                <div class="account-item">
                    <i class="fas fa-user"></i>
                    <p>Login</p>
                </div>
                <div class="account-item">
                    <i class="fas fa-shopping-cart"></i>
                    <p>Carro</p>
                </div>
                <div class="account-item">
                    <i class="far fa-heart"></i>
                    <p>Favoritos</p>
                </div>
            </div>
        </div>
        <!-- Barra de navegacion -->
        <nav class="nav-bar">
            <ul>
                <li><a href="">Hombre</a></li>
                <li><a href="">Mujer</a></li>
                <li><a href="">Ninos</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Sobre Nosotros</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="container_detalle">
            <div class="path">
                <h6>Home / Categoria / Producto</h6>
            </div>
                
            <div class="detalle_producto">
                <div class="foto_detalle">
                    <img src="Images/detalleproductofoto.PNG" alt="" class="fotodetalle">
                </div>
            

                <div class="texto_detalle">

                    <h1>Modelo producto</h1>

                    <h2>$1000</h2>

                    <div class="listacolor">
                        <h3>COLOR</h3>
                        <select name="color" id="seleccionar_color">
                                <option value="negro">Negro</option>
                                <option value="azul">Azul</option>
                                <option value="blanco">Blanco</option>
                        </select>
                    </div>


                    <div class= "listatalle">
                        <h3>TALLE</h3>
                        <select name="color" id="seleccionar_color">
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                        </select>
                    </div>


                    <div class="botoncompra">
                        <input type="submit" class= "submit" value="Agregar al carrito">
                    </div>

                </div>    
            
            </div>
 
        </section>
 
    </main>

    <footer>
        <div class="container_footer">
            <div class="box_footer">
                <h2>ARIES EQUESTRIAN S.A</h2>
                <a href="#">Contacto</a>
                <a href="#">Envíos & Devoluciones</a>
                <a href="#">Políticas de privacidad</a>
            
            </div>

            <div class="box_footer">
                <div class="logo-footer">
                    <img src="\images\Aries_sin_fondo_0001.png" alt="">
                </div>
            </div>

            <div class="box_footer">
                <h2>Redes Sociales</h2>
                <a href="#"><i class="fa-brands fa-square-facebook"></i> Facebook</a>
                <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
                <a href="#"><i class="fa-brands fa-tiktok"></i> Tiktok</a>
            </div>
        </div>
        <div class="footer_copyright">
            <hr>
            <p>&copy;2022 <b>ARIES EQUESTRIAN</b> - Todos los derechos reservados.</small></p>
        </div>
    </footer>

</body>
</html>