<!-- Head -->
<%- include('./partials/head') %>
    <link rel="stylesheet" href="css\index.css">
</head>

<body>
<!-- Inicio de Cabecera del Sitio -->
<%- include('./partials/header') %>

<!-- Inicio del Main del Sitio -->
    <main>
        <!-- Seccion de tipo carrousel con Novedades --> 
        <section class="novedades">
            <img src="\images\novedades.PNG" alt="Imagen del carrousel de novedades">
        </section>
        <!-- Seccion tipo tarjetas con Categorias de Productos -->
        <section class="categorias">
            <article id="hombre">
                <a href="/products"><img src="\images\man.PNG" alt="Imagen represetativa de la categoria Hombre"></a>
                <h4>Hombre</h4>
            </article>

            <article id="mujer">
               <a href="/products"><img src="\images\woman.PNG" alt="Imagen represetativa de la categoria Mujer"></a>
                <h4>Mujer</h4>
            </article>

            <article id="niños">
                <a href="/products"><img src="\images\kids.PNG" alt="Imagen represetativa de la categoria Niños"></a>
                <h4>Niños</h4>
            </article>

            <article id="accesorios">
                <a href="/products"><img src="\images\accesories.PNG" alt="Imagen represetativa de la categoria Accesorios"></a>
                <h4>Accesorios</h4>
            </article>
        </section>
    </main>

    <!-- Footer del Sitio -->
    <%- include('./partials/footer') %> 

</body>
</html>