<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet" />

    <!-- Link para css propio -->
    <link rel="stylesheet" href="/css/styles.css">

    <title>Aries</title>
</head>

<body>
<!-- Inicio de Cabecera del Sitio -->
    <header>
        <div class="top-header">
            <!-- Barra Busqueda -->
            <div class="form">
                <input type="text" placeholder="Buscar...">
            </div>
            <!-- Logo -->
            <div class="logo">
                <img src="\images\Aries_vectorizado_0001.jpg" alt="Logo de Aries">
            </div>
            <!-- Account -->
            <div class="account">
                <i class="fas fa-user"></i>
                <p>Login</p>
                <i class="fas fa-shopping-cart"></i>
                <p>Carro</p>
                <i class="far fa-heart"></i>
                <p>Favoritos</p>
            </div>
        </div>
        <!-- Barra de navegacion -->
        <nav class="nav-bar">
            <ul>
                <li><a href="\images\man.PNG">Hombre</a></li>
                <li><a href="">Mujer</a></li>
                <li><a href="">Ninos</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Sobre Nosotros</a></li>
            </ul>
        </nav>
    </header>

<!-- Inicio del Main del Sitio -->
    <main>
        <!-- Seccion de tipo carrousel con Novedades --> 
        <section class="novedades"></section>
        <!-- Seccion tipo tarjetas con Categorias de Productos -->
        <section class="categorias">
            <article id="hombre">
                <h4>Hombre</h4>
                <img src="" alt="Imagen represetativa de la categoria Hombre">
            </article>

            <article id="mujer">
                <h4>Mujer</h4>
                <img src="" alt="Imagen represetativa de la categoria Mujer">
            </article>

            <article id="ninos">
                <h4>Ninos</h4>
                <img src="" alt="Imagen represetativa de la categoria Ninos">
            </article>

            <article id="accesorios">
                <h4>Accesorios</h4>
                <img src="" alt="Imagen represetativa de la categoria Accesorios">
            </article>
        </section>
    </main>

    <footer></footer>

</body>
</html>