<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aries</title>
</head>
<body>
<!-- Inicio de Cabecera del Sitio -->
    <header></header>
<!-- Inicio del Main del Sitio -->
    <main>
        <!-- Seccion de tipo carrousel con Novedades --> 
        <section class="novedades"></section>
        <!-- Seccion tipo tarjetas con Categorias de Productos -->
        <section class="categorias">
            <article id="hombre">
                <h4>Hombre</h4>
                <img src="" alt="Imagen represetativa de la categoria Hombre">
            </article>

            <article id="mujer">
                <h4>Mujer</h4>
                <img src="" alt="Imagen represetativa de la categoria Mujer">
            </article>

            <article id="ninos">
                <h4>Ninos</h4>
                <img src="" alt="Imagen represetativa de la categoria Ninos">
            </article>

            <article id="accesorios">
                <h4>Accesorios</h4>
                <img src="" alt="Imagen represetativa de la categoria Accesorios">
            </article>
        </section>
    </main>

    <footer></footer>

</body>
</html>