<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body>
<%- include('./partials/header')%>
    <main>
        <!-- Inicio de sesión -->
        <div class="log-in">
        <form class="login" action="/log-in" method="POST">
            <h2> YA TENGO UNA CUENTA</h2>
            <p>PARA INICIAR SESION INGRESE EMAIL Y CONTRASEÑA.
            </p>
            <div class="nombre-usuario">
            <input type="text" name="user" placeholder=" Nombre de usuario" required>
            <input type="password" name="pass" placeholder=" Contraseña" required minlength="6" maxlength="6">  
        </div>
            <div class="login-but">
            <input type="submit" class= "submit" value="INICIAR SESION">
            </div>
        </form>
            </div>
            <div class="crear-cuenta">
            <h2>CREAR CUENTA</h2>
            <h3>CREÁ UNA CUENTA Y DISFRUTÁ DE LOS BENEFICIOS:</h3>
            <ul class="beneficios">
            <li><i class="fas fa-horse"></i> Realizá tus compras de manera más ágil.</li>
            <li><i class="fas fa-horse"></i> Guardá múltiples direcciones de envío y facturación.</li>
            <li><i class="fas fa-horse"></i> Realizá el seguimiento de tus pedidos.</li>
            <div class="cliccrear"> 
            <a class= "cc-btn" href="/register">CREAR CUENTA</a> 
            </div>
            </div>
    </main>
<%- include('./partials/footer')%>
</body>
</html>