<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head')  %> 

<body>
<!-- Inicio de Cabecera del Sitio -->
<%- include('./partials/header') %>

<main></main>

        <body class="">
            <form action="#" method="POST">
                    <h1>Carro de compras</h1>

                <div class="card">
                    <img src="" alt="nombre Productos">
                    <p>nombre del producto</p>
                    <p>precio</p>
                </div>
                <div>
                    <h3>Nombre producto</h3>
                    <h4>Talle</h4>
                    <h4>Color</h4>
                    <h4>Precio Unitario</h4>
                    <h4>cantidad</h4>
                    <h4>Subtotal</h4>
                </div>
                <div class="card">
                    <img src="" alt="nombre Productos">
                    <p>nombre del producto</p>
                    <p>precio</p>
                </div>
                <div>
                    <h3>Nombre producto</h3>
                    <h4>Talle</h4>
                    <h4>Color</h4>
                    <h4>Precio Unitario</h4>
                    <h4>cantidad</h4>
                    <h4>Subtotal</h4>
                </div>
                <span class="resume" >
                    <h2>Resumen</h2>
                    <label for="total" ></label>            
                </span>
        </body>  

    </form>
            <!-- Footer del Sitio -->
    <%- include('./partials/footer') %> 
</body>
</html>