<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>     
<body>
 <%- include('./partials/header')%>
    <main>
     <!-- Formulario  -->
    <div class="registro">
    <form action="/" method="POST">
        <h2> CREAR CUENTA</h2>
        <h3>INFORMACIÓN PERSONAL</h3>
        <div class="nombre-apellido">
            <p>NOMBRE</p>
        <input type="text" name="name" placeholder="Ej. Juan" required>
        <p>APELLIDO</p>
        <input type="text" name="last-name" placeholder="Ej. Peréz" required>
       
        <p>DNI</p>
        <input type="text" name="dni" placeholder="Ej. 30736614" required>
        </div>
        <h3>INFORMACIÓN DE INICIO DE SESIÓN</h3>
        <div class="info-inicio">
        <p>EMAIL</p>    
        <input type="email" name="email" placeholder="Ej. juanperez@mail.com" required>
        <div class="pass">
        <p>CONTRASEÑA</p>    
        <input type="password" name="pass" placeholder="Abcd1234" required minlength="6" maxlength="6">
        <p>REPETIR CONTRASEÑA</p>  
        <input type="password" name="pass_confirm" placeholder="Abcd1234" required>
        </div>  
     <div class="register-but">
        <input type="submit" class= "submit" value="ENVIAR">
        <input type="reset" class= "reset" value="BORRAR">
        </div>
    </form>
        </div>
    </main>
   
        <%- include('./partials/footer')%>

</body>
</html>