<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet" />   
    
    <!-- Link para css propio -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/styles-shopingcart.css">

    <title>Aries</title>

</head>
<body>
    <!-- Inicio de Cabecera del Sitio -->
    <header>
        <div class="top-header">
            <!-- Menu Comprimido -->
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <!-- Barra Busqueda -->
            <div class="form">
                <input type="text" placeholder="Buscar...">
            </div>
            <!-- Logo -->
            <div class="logo-header">
                <img src="\images\Aries_sin_fondo_0001.png" alt="Logo de Aries">
            </div>
            <!-- Account -->
            <div class="account">
                <div class="account-item">
                    <i class="fas fa-user"></i>
                    <p>Login</p>
                </div>
                <div class="account-item">
                    <i  class="fas fa-shopping-cart" href="shoping-cart.html"></i>
                    <p>Carro</p>
                </div>
                <div class="account-item">
                    <i class="far fa-heart"></i>
                    <p>Favoritos</p>
                </div>
            </div>
        </div>
        <!-- Barra de navegacion -->
        <nav class="nav-bar">
            <ul>
                <li><a href="">Hombre</a></li>
                <li><a href="">Mujer</a></li>
                <li><a href="">Ninos</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Sobre Nosotros</a></li>
            </ul>
        </nav>
        <body class="">
            <form action="#" method="POST">
                    <h1>Carro de compras</h1>

                <div class="card">
                    <img src="" alt="nombre Productos">
                    <p>nombre del producto</p>
                    <p>precio</p>
                </div>
                <div>
                    <h3>Nombre producto</h3>
                    <h4>Talle</h4>
                    <h4>Color</h4>
                    <h4>Precio Unitario</h4>
                    <h4>cantidad</h4>
                    <h4>Subtotal</h4>
                </div>
                <div class="card">
                    <img src="" alt="nombre Productos">
                    <p>nombre del producto</p>
                    <p>precio</p>
                </div>
                <div>
                    <h3>Nombre producto</h3>
                    <h4>Talle</h4>
                    <h4>Color</h4>
                    <h4>Precio Unitario</h4>
                    <h4>cantidad</h4>
                    <h4>Subtotal</h4>
                </div>
                <span class="resume" >
                    <h2>Resumen</h2>
                    <label for="total" ></label>            
                </span>
        </body>  

    </form>
        <footer>
            <footer>
                <div class="container_footer">
                    <div class="box_footer">
                        <h2>ARIES EQUESTRIAN S.A</h2>
                        <a href="#">Contacto</a>
                        <a href="#">Envíos & Devoluciones</a>
                        <a href="#">Políticas de privacidad</a>
                    </div>
        
                    <div class="box_footer">
                        <div class="logo-footer">
                            <img src="\images\Aries_sin_fondo_0001.png" alt="">
                        </div>
                    </div>
        
                    <div class="box_footer">
                        <h2>Redes Sociales</h2>
                        <a href="#"><i class="fa-brands fa-square-facebook"></i> Facebook</a>
                        <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
                        <a href="#"><i class="fa-brands fa-tiktok"></i> Tiktok</a>
                    </div>
                </div>
                <div class="footer_copyright">
                    <hr>
                    <p>&copy;2022 <b>ARIES EQUESTRIAN</b> - Todos los derechos reservados.</small></p>
                </div>
            </footer>
        </footer>
</body>
</html>