* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top-header {
    padding-top: 5px;
    background-color: #f2f0ea;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 5px solid #25363d;
}

.top-header input {
    width: 100%;
    font-size: 0.5rem;
}

.burger-menu {
    align-self: center;
    padding: 0 10px;
    width: 10%;
}

.form {
    padding-left: 5px;
    width: 20%;
    display: flex;
    align-items: center;
}

.logo-header {
    width: 30%;
    margin: auto;
}

.logo-header img {
    width: 100%;
    margin: auto;
}

.account {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account p {
    display: none;
}

.account i {
    padding: 0 6px;
    font-size: 0.8rem;
}

.nav-bar {
    display: none;
}

.novedades {
    width: 100%;
}

.novedades img {
    width: 100%;
    margin: 0px auto;
}

.categorias {
    padding-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.categorias article {
    margin-bottom: 2%;
    padding: 2%;
    width: 45%;
}

.categorias article img {
    width: 100%;
    margin: 0 auto;
}

/* #hombre {
    position: relative;
} */

article h4 {
/*     position: absolute;
    bottom: -2px; */
    width: inherit;
    margin: 0px auto;
    text-align: center;
}

/* Media Query para Tablet */
@media (min-width: 768px) {
    .top-header {
        border-bottom: none;
    }

    .top-header input {
        font-size: 0.8rem;
    }

    .form {
        width: 30%;
        padding: 0 20px;
        margin: 0 auto;
    }

    .account {
        margin: 0 auto;
    }

    .account-item {
        width: 25%;
        margin: 0 auto;
    }

    .account i {
        padding: 0 10px;
        font-size: 1rem;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .account p {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .logo-header {
        width: 20%;
        margin: auto;
    }

    .burger-menu {
        display: none;
    }   
    .nav-bar {
        display: block;
        padding: 10px;
        background-color: #25363d;
    }
    ul {
        display: flex;
        justify-content: space-evenly;
        text-decoration: none;
 
    }
    ul li {
        list-style-type: none;
        font-size: 1rem;

    }
    ul li a {
        text-decoration: none;
        color: #f2f0ea;
    }
}

/* Media Query para Desktop */
@media (min-width: 1024px) {
    .categorias article {
        width: 25%;
    }
}