a {
    color: #25363d;
}

h2 {
    padding: auto;
    color: #25363d;
    border-bottom: #25363d;
    align-items: flex-start;
}

.card {
    width: 195px;
    height: 254px;
    background: #ebe4d4;
    border-radius: 0.4em;
    -webkit-box-shadow: 0.3em 0.3em 0.7em #00000015;
            box-shadow: 0.3em 0.3em 0.7em #00000015;
    -webkit-transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    
}

.card:hover {
    border: #25363d 0.2em solid;
}
.resume{
    box-sizing: border-box;
    width:  auto;
    height: auto;
    padding: 2rem;
    color: #c15c5c15;
    flex-direction: row;
}